<!DOCTYPE html>
<html>
<head>
    <title>Bucintoro Autoloop Tests: GPIO, Galvo, I2C, Encoder phases</title>
    <style>
        body { font-family: Arial; margin: 20px; }
        .device-block { border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; }
        textarea { width: 100%; height: 200px; margin-top: 10px; }
        input, button { padding: 5px; margin-top: 5px 0; }
    </style>
</head>
<body>
    <h2>Bucintoro Autoloop Tests: Interface</h2>
    <div id="devices"></div>
    <div style="margin-bottom: 10px;">
        <button id="mainDeviceButton" onclick="addMainDevice()">Add Main Device</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button onclick="addCameraDevice()">Test Camera Device</button>
        <button onclick="addGalvoDevice()">Test Galvo Device</button>
        <button id="addNoiseButton" onclick="addNoise()">Add Noise</button>
    </div>
    <div style="margin-bottom: 10px;">
        <label for="numCamere">Number of connected Camera modules (1-10):</label>
        <input type="number" id="numCamere" name="numCamere" min="1" max="10" value="1">
        <label for="numGalvo">Number of connected Galvo modules (1-10):</label>
        <input type="number" id="numGalvo" name="numGalvo" min="1" max="10" value="1">
    </div>
    <button id="i2cTestButton" onclick="toggleI2CTest()">Run I2C Test</button>
    <button id="encoderTestButton" onclick="toggleEncoderTest()">Run Encoder Test</button>
    <button onclick="downloadReport()">Download Report</button>
    <h3>Console Output:</h3>
    <div id="consoleOutput" style="white-space: pre-wrap; background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;"></div>
    <script src= "/static/socket.io.min.js"></script>
    <script>
        async function addMainDevice() {
            const button = document.getElementById('mainDeviceButton');
            const consoleDiv = document.getElementById('consoleOutput');
            button.disabled = true;
            button.textContent = 'Adding Main Device...';
            consoleDiv.innerHTML += "<br><strong>Main Device Addition:</strong><br>";
            try {
                const response = await fetch('/add_main_device', { method: 'POST' });
                const result = await response.json();
                consoleDiv.innerHTML += result.output;
                if (result.reportPath) {
                    consoleDiv.setAttribute('data-report-path', result.reportPath);
                    consoleDiv.innerHTML += `<br>Report generated<br>`;
                }
            } catch (error) {
                console.error("Error during Main Device addition:", error);
                alert('Error during Main Device addition: ' + error.message);
            } finally {
                button.disabled = false;
                button.textContent = 'Add Main Device';
            }
        }

        function addCameraDevice() {
            const container = document.getElementById('devices');
            const consoleDiv = document.getElementById('consoleOutput');
            const block = document.createElement('div');
            block.className = 'device-block';
            block.innerHTML = `
                <label>Camera Device Address (between 20 and 29):</label><br>
                <input type="number" name="address" min="20" max="29" required><br>
                <label>Pin Numbers (e.g. 0 1 2 ..):</label><br>
                <input type="text" name="pins" required><br>
                <label><input type="checkbox" class="select-all"> Select All Pins</label><br>
                <button class="run-test-gpio">Run Test GPIO</button>
                <button class="add-noise">Add Noise</button>
                <button class="remove-device">Remove Device</button>
            `;
            container.appendChild(block);

            const checkbox = block.querySelector('.select-all');
            const pinInput = block.querySelector('input[name="pins"]');
            checkbox.addEventListener('change', () => {
                pinInput.value = checkbox.checked ? 'ALL' : ''
            });

            const removeButton = block.querySelector('.remove-device');
            removeButton.addEventListener('click', () => {
                container.removeChild(block);
            });


            let test_gpio_in_progress = false;
            const runButtonGPIO = block.querySelector('.run-test-gpio');
            const device = [];
            runButtonGPIO.addEventListener('click', async() => {
                const address = block.querySelector('input[name="address"]').value;
                const pins = block.querySelector('input[name="pins"]').value;
                if (address && pins) {
                    device.push({ address, pins });
                }
                if (!test_gpio_in_progress) {
                    test_gpio_in_progress = true;
                    runButtonGPIO.textContent = "Stop Test GPIO";
                    consoleDiv.innerHTML += "<br><strong>GPIO Test Output:</strong><br>";
                    try {
                        const response = await fetch('/run_test_gpio', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ device })
                        });

                        const result = await response.json();
                        consoleDiv.innerHTML += result.output;
                        if (result.reportPath) {
                            consoleDiv.setAttribute('data-report-path', result.reportPath);
                            localReportPath = result.reportPath;
                            consoleDiv.innerHTML += `<br>Report generated<br>`;
                        }
                    } catch (error) {
                        consoleDiv.error("Error during GPIO test:", error);
                        alert('Error during GPIO test: ' + error.message);
                    } finally {
                        test_gpio_in_progress = false;
                        runButtonGPIO.textContent = "Run Test GPIO";
                    }
                } else {
                    try {
                        const response = await fetch('/stop_test_gpio', { method: 'POST' });
                        const result = await response.json();
                        alert(result.status);
                    } catch (error) {
                        consoleDiv.error("Error stopping GPIO test:", error);
                    } finally {
                        test_gpio_in_progress = false;
                        runButtonGPIO.textContent = 'Run Test GPIO';
                    }
                }
            });

        }

        function addGalvoDevice() {
            const container = document.getElementById('devices');
            const consoleDiv = document.getElementById('consoleOutput');
            const block = document.createElement('div');
            block.className = 'device-block';
            block.innerHTML = `
                <label>Galvo Device Address (between 30 and 39):</label><br>
                <input type="number" name="address" min="30" max="39" required><br>
                <label>Angle required:</label><br>
                <input type="number" name="angle" min="100" max="65534" required><br>
                <button class="run-test-galvo">Run Test Galvo</button>
                <button class="remove-device">Remove Device</button>
            `;
            container.appendChild(block);

            const removeButton = block.querySelector('.remove-device');
            removeButton.addEventListener('click', () => {
                container.removeChild(block);
            });

            let test_galvo_in_progress = false;
            const runButtonGalvo = block.querySelector('.run-test-galvo');
            const device = [];
            runButtonGalvo.addEventListener('click', async() => {
                const address = block.querySelector('input[name="address"]').value;
                const angle = block.querySelector('input[name="angle"]').value;

                let payload = { address, angle};

                if (!test_galvo_in_progress) {
                    test_galvo_in_progress = true;
                    runButtonGalvo.textContent = "Stop Test Galvo";
                    consoleDiv.innerHTML += "<br><strong>Galvo Test Output:</strong><br>";
                    try {
                        const response = await fetch('/run_test_galvo', { 
                            method: 'POST', 
                            headers: { 'Content-Type': 'application/json' }, 
                            body: JSON.stringify({ device: payload })
                        });
                        const result = await response.json();
                        consoleDiv.innerHTML += result.output;
                        if (result.reportPath) {
                            consoleDiv.setAttribute('data-report-path', result.reportPath);
                            consoleDiv.innerHTML += `<br>Report generated<br>`;
                        }
                    } catch (error) {
                        consoleDiv.error("Error during Galvo test:", error);
                        alert('Error during Galvo test: ' + error.message);
                    } finally {
                        test_galvo_in_progress = false;
                        runButtonGalvo.textContent = 'Run Test Galvo';
                    }
                } else {
                    try {
                        const response = await fetch('/stop_test_galvo', { method: 'POST' });
                        const result = await response.json();
                        alert(result.status);
                    } catch (error) {
                        console.error("Error stopping Galvo test:", error);
                    } finally {
                        test_galvo_in_progress = false;
                        runButtonGalvo.textContent = 'Run Test Galvo';
                    }
                }
            });
        }

        let addingNoise = false;
        async function addNoise() {
            const button = document.getElementById('addNoiseButton');
            const consoleDiv = document.getElementById('consoleOutput');
            if (!addingNoise) {
                addingNoise = true;
                button.textContent = 'Stop Adding Noise';
                consoleDiv.innerHTML += "<br><strong>** Noise Addition **</strong><br>";
                try {
                    const response = await fetch('/add_noise', { method: 'POST' });
                    const result = await response.json();
                    consoleDiv.innerHTML += result.output;
                } catch (error) {
                    console.error("Error during noise addition:", error);
                    alert('Error during noise addition: ' + error.message);
                }
            } else {
                try {
                    const response = await fetch('/stop_add_noise', { method: 'POST' });
                    const result = await response.json();
                    consoleDiv.innerHTML += result.ouput;
                    alert(result.status);
                } catch (error) {
                    console.error("Error stopping noise addition:", error);
                } finally {
                    addingNoise = false;
                    button.textContent = 'Add Noise';
                }
            }
        }

        function downloadReport() {
            const reportPath = document.getElementById('consoleOutput').getAttribute('data-report-path');
            if (reportPath) {
                window.location.href = '/download-report?path=' + encodeURIComponent(reportPath);
                consoleDiv.innerHTML += `<br>Report saved to: <a href="/download-report?path=${encodeURIComponent(result.reportPath)}">${result.reportPath}</a>`;
            } else {
                alert('No report available to download.');
            }
        }

        let test_i2c_in_progress = false;

        async function toggleI2CTest() {
            const button = document.getElementById('i2cTestButton');
            const consoleDiv = document.getElementById('consoleOutput');

            const numCamere = document.getElementById('numCamere').value
            const numGalvo = document.getElementById('numGalvo').value

            if (!test_i2c_in_progress) {
                test_i2c_in_progress = true;
                button.textContent = 'Stop I2C Test';
                consoleDiv.innerHTML += "<br><strong>I2C Test Output:</strong><br>";
                try {
                    const response = await fetch('/run_test_i2c', {
                         method: 'POST',
                         headers: {
                            'Content-Type': 'application/json'
                         },
                         body: JSON.stringify({
                            numCamere: parseInt(numCamere),
                            numGalvo: parseInt(numGalvo)
                         }) 
                    });
                    const result = await response.json();
                    consoleDiv.innerHTML += result.output;
                    if (result.reportPath) {
                        consoleDiv.setAttribute('data-report-path', result.reportPath);
                        consoleDiv.innerHTML += `<br>Report generated<br>`;
                    }
                } catch (error) {
                    console.error = ("Error during I2C test:", error);
                    alert('Error during I2C test: ');
                } finally {
                    test_i2c_in_progress = false;
                    button.textContent = 'Run I2C Test';
                }
            } else {
                try {
                    const response = await fetch('/stop_test_i2c', { method: 'POST' });
                    const result = await response.json();
                    alert(result.status);
                } catch (error) {
                    console.error("Error stopping I2C test:", error);
                } finally {
                    test_i2c_in_progress = false;
                    button.textContent = 'Run I2C Test';
                }
            }

        }

        let encoder_test_in_progress = false;

        async function toggleEncoderTest() {
            const button = document.getElementById('encoderTestButton');
            const consoleDiv = document.getElementById('consoleOutput');
            if (!encoder_test_in_progress) {
                encoder_test_in_progress = true;
                button.textContent = 'Stop Encoder Test';
                consoleDiv.innerHTML += "<br><strong>Encoder Test Output:</strong><br>";
                try {
                    const response = await fetch('/run_test_encoder', { method: 'POST' });
                    const result = await response.json();
                    consoleDiv.innerHTML += result.output;
                    if (result.reportPath) {
                        consoleDiv.setAttribute('data-report-path', result.reportPath);
                        consoleDiv.innerHTML += `<br>Report generated<br>`;
                    }
                } catch (error) {
                    console.error("Error during Encoder test:", error);
                    alert('Error during Encoder test: ' + error.message);
                } finally {
                    encoder_test_in_progress = false;
                    button.textContent = 'Run Encoder Test';
                }
            } else {
                try {
                    const response = await fetch('/stop_test_encoder', { method: 'POST' });
                    const result = await response.json();
                    alert(result.status);
                } catch (error) {
                    console.error("Error stopping Encoder test:", error);
                } finally {
                    encoder_test_in_progress = false;
                    button.textContent = 'Run Encoder Test';
                }
            }
        }



        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();
            socket.on('test_output', function(data) {
                const outputDiv = document.getElementById('consoleOutput');
                if (outputDiv) {
                outputDiv.innerHTML += data.line + '<br>';
                }
            });
        });


    </script>
</body>
</html>